.layer {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  right: 20px;
  z-index: 10000;
  display: flex;
  align-items: center;

  // @TODO responsive mixins 만들기
  @media screen and (min-width: 980px) {
    left: auto;
    right: 48px;
  }

  &__inner {
    box-shadow: 0 4px 24px 0 rgb(0 0 0 / 24%);
    box-sizing: border-box;
    border-radius: 16px;
    padding: 20px;
    width: 100%;
    max-height: 70%;
    height: 500px;
    background: #fff;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #dee2e6;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #adb5bd;
    }

    @media screen and (min-width: 980px) {
      width: 456px;
      height: 600px;
    }
  }
}
