.list-place {
  position: relative;
  width: 100%;
  height: 100%;

  &__lists {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    cursor: pointer;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;

    &-left {
      width: calc(100% - 100px);
      display: flex;
      flex-direction: column;

      p {
        margin: 0;
      }
    }

    &-right {
      img {
        width: 100px;
        height: 70px;
        vertical-align: top;
      }
    }
  }

  &__menuTypes {
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: auto;

    &-item {
      box-sizing: border-box;
      padding: 5px 10px;
      border-radius: 10px;
      color: #fff;
      border: 1px solid #ff8a3d;
      background-color: #ff8a3d;
      text-align: center;
      font-size: 10px;

      & + & {
        margin-left: 5px;
      }
    }
  }
}
